<ion-content>
    <ion-grid>
        <ion-row *ngFor="let post of posts">
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <strong>{{post.usuario}}</strong>
                    </ion-card-header>
                    <ion-card-content>
                        <img src="{{post.imagen}}">
                        <p class="caption">{{post.caption}}</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>